<!DOCTYPE html>
<html>
<head>
  <title>Ejemplo de botones</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#boton1").click(function(){
        $.ajax({
          url: "/ejecutar_comando_1",
          success: function(result){
            console.log(result);
          }
        });
      });

      $("#boton2").click(function(){
        $.ajax({
          url: "/ejecutar_comando_2",
          success: function(result){
            console.log(result);
          }
        });
      });
    });
  </script>
</head>
<body>
  <button id="boton1">HSN</button>
  <button id="boton2">MP</button>
</body>
</html>